*{
    color: red;
}
p, span{
    font-family: 'Roboto', sans-serif;
    color: blue ;
    width: 300px;
}
/** esto es un comentario dentro de un documento css*/
h1{
    
    
    border: 1px solid black; 
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 12px;
    margin-right: 11px;
    font-weight: bold;
    color: grey;
}
 section{
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
  #mi-parrafo {
    color: darkmagenta;
    font-size: 23px;
    border: 2px orange solid; 
  }
  /** para poder modificar cada uno usar eso de .clase y despues solo poner clse*/
  
   
  .clase{
    color: brown; border-radius: 1px;
    font-weight: bold;
  }
  .perroo{
    color: aqua ; border-top: 1px;
  }
  .fondooscuro{background-color:rgb(214, 212, 212) }