p{
    color: rgb(255, 0, 0)0000;
    width: 300px;
}
/** esto es un comentario dentro de un documento css*/
h1{
    border: 1px solid black; 
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 12px;
    margin-right: 11px;
    font-weight: bold;
    color: grey;
}